@{
    ViewBag.Title = "About";
}

<div class="section">
    <div class="introheader">
        <div class="intro-content">
            <div class="introtitle">REIC Iasi<br></div>
        </div>
    </div>
    <div class="container">
        <div class="motto-wrap">
            <div class="introtitlesmall">Renewable Energy Investment Calculator Iasi</div>
        </div>
        <div class="divider"></div>
        <div class="about-story-wrap">
            <p class="paragraph-light">
                It is imperative to start producing renewable energy and to consume less energy in order to lessen the effects of climate change. This is by no means a way to stop it, but it is one step towards a greener path. Each of us can contribute to the process of slowing climate change through the interest shown in using renewable energy. For domestic customers, this could mean just installing solar panels on the roof of their house. For industrial customers, both the installation of solar panels on a plot of land or the generation of energy using wind turbines is applicable. 
            </p>
            <p class="paragraph-light">
                Renewable energy investment calculator (REIC) is an online tool that allows consumers from everywhere to quickly evaluate and assess renewable energy solutions. The software takes into account both the specific conditions of the chosen location (temperature, annual solar radiation, average wind speed) and the specifications of the chosen product (efficiency, capacity factor).
                The consumers have the ability to choose from a range of products or they can introduce the characteristics of their own panel/turbine and then they will get an estimation of how much energy can be produced using the energy solutions provided.
            </p>
        </div>
        <div class="divider"></div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="section-heading-wrap">
            <h2>Resources</h2>
        </div>
        <div>
            <div class="paragraph-bigger">GitHub</div>
            <a href="https://github.com/Tensor-Reloaded/REIC" target="_blank" class="link">https://github.com/Tensor-Reloaded/REIC</a>
        </div>
    </div>
</div>
