@{
    ViewBag.Title = "About";
}

<div class="section">
    <div class="introheader">
        <div class="intro-content">
            <div class="introtitle">REIC Iasi<br></div>
        </div>
    </div>
    <div class="container">
        <div class="motto-wrap">
            <div class="introtitlesmall">Renewable Energy Investment Calculator Iasi</div>
        </div>
        <div class="divider"></div>
        <div class="about-story-wrap">
            <p class="paragraph-light" align="justify">
                &quot;
                It is imperative to start producing renewable energy and to consume less energy to stop climate change. <br />
                One way each of us can contribute to slowing climate change is through interest in using renewable energy. <br />
                For domestic customers, this could mean just installing solar panels on the roof of their house.
                For industrial customers, both the installation of solar panels on a plot of land or the generation of energy using wind turbines is applicable. <br />
                Renewable energy investment calculator is an online tool that allows consumers to see how much electricity can be generated with solar panels or wind turbines.
                The computer takes into account both the specific conditions of the chosen location (temperature, annual solar radiation, average wind speed) and the specifications of the chosen product (efficiency, capacity factor). <br />
                The consumers have the ability to choose from a range of products or they can introduce the characteristics of their own panel/turbine.
                &quot;
            </p>
        </div>
        <div class="divider"></div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="section-heading-wrap">
            <h2>Resources</h2>
        </div>
        <div>
            <div class="paragraph-bigger">GitHub</div>
            <a href="https://github.com/Tensor-Reloaded/REIC" target="_blank" class="link">https://github.com/Tensor-Reloaded/REIC</a>
        </div>
    </div>
</div>
