@{
    ViewBag.Title = "Contact";
}

<div class="section">
    <div class="introheader cc-subpage">
        <div class="intro-content">
            <div class="introtitle">Contact<br></div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container"></div>
</div>
<div class="section">
    <div class="container">
        <div class="section-heading-wrap">
            <h2>Our Team</h2>
        </div>
        <div class="w-layout-grid our-contacts">
            <div id="w-node-cb4222c2-e34c-f4e1-7796-79bb93a2fb08-5fa7ec98" class="teammemberblock">
                <div class="contact-team-name-wrap">
                    <div class="paragraph-bigger">Irina Vasilița<br>‍</div>
                    <div class="paragraph-light">Computer Optimization Student</div>
                </div>
                <div class="contact-team-details-wrap">
                    <a class="contact-email-link">irina.vasilita@info.uaic.ro</a>
                </div>
            </div>
            <div class="divider"></div>
            <div id="w-node-_4e10d267-282d-138b-4999-3ccd70a34548-5fa7ec98" class="teammemberblock">
                <div class="contact-team-name-wrap">
                    <div class="paragraph-bigger"><br>Alexandru Barbu<br>‍</div>
                    <div class="paragraph-light">Computer Optimization Student</div>
                </div>
                <div class="contact-team-details-wrap">
                    <a class="contact-email-link">barbualexandru@gmail.com</a>
                </div>
            </div>
            <div class="divider"></div>
            <div id="w-node-cb4222c2-e34c-f4e1-7796-79bb93a2fb15-5fa7ec98" class="teammemberblock">
                <div class="contact-team-name-wrap">
                    <div class="paragraph-bigger"><br>Raluca-Ioana Bucnaru<br>‍</div>
                    <div class="paragraph-light">Computer Optimization Student</div>
                </div>
                <div class="contact-team-details-wrap">
                    <a class="contact-email-link">bucnaru.raluca@gmail.com</a>
                </div>
            </div>
            <div class="divider"></div>

            <div id="w-node-d7e4674d-e960-3056-9cf4-80f6f0eda391-5fa7ec98" class="teammemberblock">
                <div class="contact-team-name-wrap">
                    <div class="paragraph-bigger"><br>Andrei Pavel<br>‍</div>
                    <div class="paragraph-light">Computer Optimization Student</div>
                </div>
                <div class="contact-team-details-wrap">
                    <a class="contact-email-link">andrei_pavel99@yahoo.com</a>
                </div>
            </div>
            <div class="divider"></div>
            <div id="w-node-cb4222c2-e34c-f4e1-7796-79bb93a2fb22-5fa7ec98" class="teammemberblock">
                <div class="contact-team-name-wrap">
                    <div class="paragraph-bigger"><br>Teodora Homea<br></div>
                    <div class="paragraph-light">Distributed Systems Student</div>
                </div>
                <div class="contact-team-details-wrap">
                    <a class="contact-email-link">teodora.hoamea@gmail.com</a>
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section-heading-wrap">
        <h2>Coordonatori</h2>
    </div>
    <div class="w-layout-grid our-contacts">
        <div id="w-node-d096d9fc-fa48-7319-eef0-d3193167dc42-5fa7ec98" class="teammemberblock">
            <div class="contact-team-name-wrap">
                <div class="paragraph-bigger">Adrian Iftene<br>‍</div>
                <a href="mailto:ceo@business.com?subject=You&#x27;ve%20got%20mail!" class="contact-email-link">adrian.iftene@info.uaic.ro</a>
            </div>
        </div>
        <div class="teammemberblock">
            <div class="contact-team-name-wrap">
                <div class="paragraph-bigger">Cristian Simionescu<br>‍</div>
                <a href="mailto:ceo@business.com?subject=You&#x27;ve%20got%20mail!" class="contact-email-link">cristian.simionescu@info.uaic.ro</a>
            </div>
        </div>
    </div>
</div>